@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css or styles/HeroBanner.module.css */

.custom-star1 {
  right: 2%; /* Move closer to the right border */
  top: 5%; /* Adjust top positioning if needed */
}

.custom-star2 {
  left: 1%; /* Move closer to the left border */
  top: 15%; /* Adjust top positioning if needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
