.flip-card {
  perspective: 3200px;
  position: relative;
}

.flip-card__back-side,
.flip-card__front-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
  backface-visibility: hidden;
}

.flip-card__front-side {
  transform: rotateX(0deg);
}

.flip-card__back-side {
  transform: rotateX(-180deg);
}

.flip-card:hover .flip-card__front-side {
  transform: rotateX(180deg);
}

.flip-card:hover .flip-card__back-side {
  transform: rotateX(0deg);
}

.backface-visibility-hidden {
  backface-visibility: hidden;
}
