@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.animate-flip {
  animation: flip 3s infinite;
  transform-origin: center;
}
